---
title: Index.html
---

extends layouts/_layout

block content
  .not-found-page
    img(src="/img/404-logo.png" alt="logo")
    h1 404
    p Sorry! Page not found!
    a(href="/") Go Back
    <svg viewBox="0 0 11297 663" fill="none">
      <circle cx="84.1085" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="4280.52" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="6387.69" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="7878.01" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="9118.68" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="6992.92" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="9733.98" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="8493.32" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="4280.52" cy="578.055" r="84.1085" fill="#D6D4F4"/>
      <circle cx="6387.69" cy="578.055" r="84.1085" fill="#D6D4F4"/>
      <circle cx="6992.92" cy="578.055" r="84.1085" fill="#D6D4F4"/>
      <circle cx="9733.98" cy="578.055" r="84.1085" fill="#D6D4F4"/>
      <circle cx="8493.32" cy="578.055" r="84.1085" fill="#D6D4F4"/>
      <circle cx="8741.05" cy="578.055" r="84.1085" fill="#D6D4F4"/>
      <circle cx="4895.83" cy="578.055" r="84.1085" fill="#D6D4F4"/>
      <circle cx="10597" cy="578.055" r="84.1085" fill="#D6D4F4"/>
      <ellipse cx="3665.22" cy="331.082" rx="84.1085" ry="84.8731" fill="#D6D4F4"/>
      <circle cx="679.285" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="4895.83" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="10349.3" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="10964.6" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="10349.3" cy="578.055" r="84.1085" fill="#D6D4F4"/>
      <circle cx="10964.6" cy="578.055" r="84.1085" fill="#D6D4F4"/>
      <circle cx="5782.45" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <ellipse cx="5782.45" cy="331.082" rx="84.1085" ry="84.8731" fill="#D6D4F4"/>
      <circle cx="1869.64" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="2474.88" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <ellipse cx="3070.05" cy="331.082" rx="84.1085" ry="84.8731" fill="#D6D4F4"/>
      <circle cx="3070.05" cy="578.055" r="84.1085" fill="#D6D4F4"/>
      <circle cx="1274.46" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <ellipse cx="926.26" cy="84.1085" rx="84.8731" ry="84.1085" fill="#D6D4F4"/>
      <circle cx="5143.56" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="10597" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="6028.66" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="2117.37" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="2722.61" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <circle cx="3317.79" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
      <ellipse cx="3317.79" cy="331.082" rx="84.1085" ry="84.8731" fill="#D6D4F4"/>
      <circle cx="926.26" cy="331.082" r="84.8731" fill="#D6D4F4"/>
      <ellipse cx="5143.56" cy="331.082" rx="84.1085" ry="84.8731" fill="#D6D4F4"/>
      <ellipse cx="10597" cy="331.082" rx="84.1085" ry="84.8731" fill="#D6D4F4"/>
      <ellipse cx="11212.3" cy="331.082" rx="84.1085" ry="84.8731" fill="#D6D4F4"/>
      <ellipse cx="1521.43" cy="578.055" rx="84.8731" ry="84.1085" fill="#D6D4F4"/>
      <circle cx="1274.46" cy="578.055" r="84.1085" fill="#D6D4F4"/>
      <circle cx="331.084" cy="331.082" r="84.8731" fill="#D6D4F4"/>
      <ellipse cx="4528.27" cy="331.082" rx="84.1085" ry="84.8731" fill="#D6D4F4"/>
      <ellipse cx="6633.9" cy="331.082" rx="84.1085" ry="84.8731" fill="#D6D4F4"/>
      <ellipse cx="8125.75" cy="331.082" rx="84.1085" ry="84.8731" fill="#D6D4F4"/>
      <ellipse cx="9366.42" cy="331.082" rx="84.1085" ry="84.8731" fill="#D6D4F4"/>
      <ellipse cx="7239.13" cy="331.082" rx="84.1085" ry="84.8731" fill="#D6D4F4"/>
      <ellipse cx="9981.72" cy="331.082" rx="84.1085" ry="84.8731" fill="#D6D4F4"/>
      <ellipse cx="6992.92" cy="331.082" rx="84.1085" ry="84.8731" fill="#D6D4F4"/>
      <ellipse cx="9733.98" cy="331.082" rx="84.1085" ry="84.8731" fill="#D6D4F4"/>
      <ellipse cx="8493.32" cy="331.082" rx="84.1085" ry="84.8731" fill="#D6D4F4"/>
      <circle cx="3912.96" cy="84.1085" r="84.1085" fill="#D6D4F4"/>
    </svg>
