---
title: Index.html
---

extends layouts/_layout

block content
  main.main-about
    section.main-about__one.wrapper
      span.title About us and Equalifai
      h1 Parents and teens match<br/> with best tutors
      p Well, we are kind of an educational hub for tutors and students.<br/> We intelligently connect teenagers and parents across the world with high<br/> quality teachers, to provide personal online education in a safe, engaging<br/> and effective environment.
    section.main-about__two.wrapper
      span.title Our values and vision
      h2 Our vision made us the fastest<br/> growing tutoring site
      p We want to improve our world by improving the education of the ones who<br/> own our future. That’s why our mission is to create equal opportunity for<br/> teenagers across the world to qualify for higher education anywhere.
    section.main-about__three.wrapper
      .main-about__three-left
        span.save-ukraine #SaveUkraine
        h3 Words of support for Ukraine
        p We stand with Ukraine and do our best to help<br class="br-desktop"/> Ukrainian students and teachers stay connected and<br class="br-desktop"/> continue their studies.For all Ukrainians, the use of the<br class="br-desktop"/> platform is free.<br class="br-desktop"/> <span>Glory to Ukraine!</span>
      .main-about__three-right
        .main-about__three-img
          .main-about__three-bg
          img(src="/img/heart.png" alt="heart")