---
title: Index.html
---

extends layouts/_layout

block content
  main.article
    .article__bg
      section.wrapper-wysiwyg
        a(href="/blog.html").article__back
          .article__back-bg
          img(src="/img/arrow.png" alt="arrow")
        .wysiwyg
          time 29.04.2022
          h1 Assign High School Students the Entire<br />Original Book, Not Dumbed-Down Excerpts
          h2 Reading aloud will improve fluency, build adolescent literacy
          img(src="/img/article.png" alt="article image")
          p Only 37 percent of American 12th-grade students are considered “proficient” or better at reading, according to the <strong>2019 National Assessment of Educational Progress.</strong> This finding indicates that the majority of high school seniors have a hard time understanding challenging subject matter. Many of them also struggle with fluency, or the ability to read with speed and accuracy, which leaves them little energy to analyze the text after they have read it.
          blockquote I would keep the merciless slaveholder profoundly ignorant of the means of flight adopted by the slave. I would leave him to imagine himself surrounded by myriads of invisible tormentors, ever ready to snatch from his infernal grasp his trembling prey.
          p As a result, students will have a hard time understanding the deeper nuances of Douglass’s discussion of the Underground Railroad. To overcome this fluency barrier and unlock a higher level of comprehension, adolescent students should spend significant time every day reading complex texts.
          p Students often become invested in the text because they have read it aloud with emotion. As their fluency improves, middle and high school students will grapple with the meaning of a text if they are unafraid of making mistakes and have the chance to argue about their interpretations with classmates. If students see a reading activity as an opportunity to surface misconceptions and share a more accurate understanding, they will go back and reread, something all good readers do.
    section.article__recommend
      h2 We recommend you read
      .article__recommend-block
        .blog__card
          .blog__card-content
            h4 The Stubborn Myth of<br class="br-desktop"/> “Learning Styles”
            p State teacher-license prep materials peddle a<br class="br-desktop"/> debunked theory
          .block__card-btn
            a(href="/article.html")
              span Read more
              .block__card-wrapp-img
                .block__card-btn-bg
                img(src="/img/arrow.png" alt="arrow")
        .blog__card
          .blog__card-content
            h4 How Family Background Influences Student Achievement
            p Can schools narrow the gap?
          .block__card-btn
            a(href="/article.html")
              span Read more
              .block__card-wrapp-img
                .block__card-btn-bg
                img(src="/img/arrow.png" alt="arrow")

    