---
title: Index.html
---

extends layouts/_layout

block content
  main.blog.wrapper
    h1.blog__title Blog
    .blog__cards
      .blog__card
        .blog__card-content
          h4 The Stubborn Myth of<br class="br-desktop"/> “Learning Styles”
          p State teacher-license prep materials peddle a<br class="br-desktop"/> debunked theory
        .block__card-btn
          a(href="/article.html")
            span Read more
            .block__card-wrapp-img
              .block__card-btn-bg
              img(src="/img/arrow.png" alt="arrow")
      .blog__card
        .blog__card-content
          h4 How Family Background Influences Student Achievement
          p Can schools narrow the gap?
        .block__card-btn
          a(href="/article.html")
            span Read more
            .block__card-wrapp-img
              .block__card-btn-bg
              img(src="/img/arrow.png" alt="arrow")
      .blog__card
        .blog__card-content
          h4 The Top 20 Education Next Articles of 2021
          p The pandemic and race dominate the discussion—for a second year.
        .block__card-btn
          a(href="/article.html")
            span Read more
            .block__card-wrapp-img
              .block__card-btn-bg
              img(src="/img/arrow.png" alt="arrow")
      .blog__card
        .blog__card-content
          h4 Assign High School Students the Entire Original Book, Not Dumbed-Down Excerpts
          p Reading aloud will improve fluency, build adolescent literacy
        .block__card-btn
          a(href="/article.html")
            span Read more
            .block__card-wrapp-img
              .block__card-btn-bg
              img(src="/img/arrow.png" alt="arrow")
      .blog__card
        .blog__card-content
          h4 What Edu-Scholars Have to Say About Their Field
          p The pandemic and race dominate the discussion—for a second year.
        .block__card-btn
          a(href="/article.html")
            span Read more
            .block__card-wrapp-img
              .block__card-btn-bg
              img(src="/img/arrow.png" alt="arrow")
      .blog__card
        .blog__card-content
          h4 The Upside of the Downward<br class="br-desktop"/> Trend in College Enrollment
          p These institutions had it coming.
        .block__card-btn
          a(href="/article.html")
            span Read more
            .block__card-wrapp-img
              .block__card-btn-bg
              img(src="/img/arrow.png" alt="arrow")

    .blog__wrapper-pagination
      //- .pagination
      //-   .pagination__prev
      //-     img(src="/img/arrow.png" alt="arrow")
      //-   .pagination__count.pagination--active 01
      //-   .pagination__count 02
      //-   .pagination__count 03
      //-   .pagination__count 04
      //-   .pagination__next.pagination--active
      //-     img(src="/img/arrow.png" alt="arrow")
      ul.page-numbers
        li
          a.prev.page-numbers
            img(src="/icons/arrow-right.svg" alt="arrow")
        li
          a.page-numbers 01
        li
          span.current 02
        li
          a.next.page-numbers
            img(src="/icons/arrow-right.svg" alt="arrow")