---
title: Index.html
---

extends layouts/_layout

block content
  main.main-contacts
    h1.main-contacts__title Contacts
    section.main-contacts__form
      .main-contacts__border
        span.title.main-contacts__form-title Questions & Feedback
        h2 Questions<br class="br-mobile"/> & Feedback form
        form(action="" method="").main-contacts__form-content
          div.main-contacts__form-top
            div.main-contacts__form-left
              input(type="text", placeholder="firt name")
              input(type="text", placeholder="last name")
            div.main-contacts__form-right
              input(type="text", placeholder="your number")
              input(type="text", placeholder="your email")
          div.main-contacts__form-down
            textarea(type="text", placeholder="Your message here")
            button(type="submit") Send
    
    section.main-contacts__subscribe-bg
      .wrapper.main-contacts__subscribe
        .main-contacts__subscribe-left
          h2 Subscribe to newsletter
          p Enter your email here
          form(action="" method="").main-contacts__subscribe-form
            input(type="text", placeholder="Your email")
            <button type="button">send</button>
        .main-contacts__subscribe-right
          .main-contacts__subscribe-wrapp-icon
            .main-contacts__subscribe-bg-icon
            img(src="/img/Screen.png" alt="Screen")