---
title: Index.html
---

extends layouts/_layout

block content
  main.wrapper.main-faq
    h1.main-faq__title FAQ
    section.main-faq__content
      ol
        li
          .main-faq__accordion
            .main-faq__accordion-top
              .main-faq__accordion-top-title
                span 01
                p What does Natural Language Understanding mean?
              .main-faq__accordion-btn
                img(src="/img/plus.svg", alt="plus")
            .main-faq__accordion-bottom
              p Forethought’s Agatha AI integrates with Salesforce, Zendesk, ServiceNow, Kustomer, Talkdesk, Dialpad, and more. We’re continually adding to our list of integrations and are happy to discuss the possibility of integrating into new helpdesks to help you better.
        li
          .main-faq__accordion
            .main-faq__accordion-top
              .main-faq__accordion-top-title
                span 02
                p What are you using to train your AI models?
              .main-faq__accordion-btn
                img(src="/img/plus.svg", alt="plus")
            .main-faq__accordion-bottom
              p Forethought’s Agatha AI integrates with Salesforce, Zendesk, ServiceNow, Kustomer, Talkdesk, Dialpad, and more. We’re continually adding to our list of integrations and are happy to discuss the possibility of integrating into new helpdesks to help you better.
        li
          .main-faq__accordion.main-faq__accordion-active
            .main-faq__accordion-top
              .main-faq__accordion-top-title
                span 03
                p What system do I have to use to get your AI to work?
              .main-faq__accordion-btn
                img(src="/img/plus.svg", alt="plus")
            .main-faq__accordion-bottom
              p Forethought’s Agatha AI integrates with Salesforce, Zendesk, ServiceNow, Kustomer, Talkdesk, Dialpad, and more. We’re continually adding to our list of integrations and are happy to discuss the possibility of integrating into new helpdesks to help you better.
        li
          .main-faq__accordion
            .main-faq__accordion-top
              .main-faq__accordion-top-title
                span 04
                p What system do I have to use to get your AI to work?
              .main-faq__accordion-btn
                img(src="/img/plus.svg", alt="plus")
            .main-faq__accordion-bottom
              p Forethought’s Agatha AI integrates with Salesforce, Zendesk, ServiceNow, Kustomer, Talkdesk, Dialpad, and more. We’re continually adding to our list of integrations and are happy to discuss the possibility of integrating into new helpdesks to help you better.
        li
          .main-faq__accordion
            .main-faq__accordion-top
              .main-faq__accordion-top-title
                span 05
                p What is your pricing?
              .main-faq__accordion-btn
                img(src="/img/plus.svg", alt="plus")
            .main-faq__accordion-bottom
              p Forethought’s Agatha AI integrates with Salesforce, Zendesk, ServiceNow, Kustomer, Talkdesk, Dialpad, and more. We’re continually adding to our list of integrations and are happy to discuss the possibility of integrating into new helpdesks to help you better.