---
title: Index.html
---

extends layouts/_layout
//- <br class="br-mobile"/>
block content
	main.main
		section.section__one.wrapper
			h1 Improving the world
			p
				span Equalifai
				|  is designed to make the world a better place and education more
				br.br-desktop
				| convenient and affordable. We exist so that good people, professional
				br.br-desktop
				| tutors and interested students, or parents, find each other. Even easier.
				br.br-desktop
				strong More effective.

			.flex.center
				a(href="#").alert-btn
					span to push yourself
					img.alert-btn__icon(src="/icons/arrow-top-right.svg", alt="arrow")
		.wrapper
			section.section__own
				.section__own-tag
					span.title Your own for everyone
				.section__own-block
					h3 For students
					p The fastest way to find a tutor, where you<br class="br-desktop"/> want to learn new, rather than fall asleep<br class="br-desktop"/> in the middle of the class. And even if<br class="br-desktop"/> you don't meet the first time, just try<br class="br-desktop"/> again. He’s there for you
				.section__own-block
					h3 For parents
					p The most convenient way to choose<br class="br-desktop"/> among hundreds of professional tutors.<br class="br-desktop"/> You can compare specialists by the level<br class="br-desktop"/> of payment, experience and honest<br class="br-desktop"/> feedback to find the best option for your child.
				.section__own-block
					h3 For tutors
					p A reliable way to earn by you knowledge<br class="br-desktop"/> and share it with those for whom it really<br class="br-desktop"/> matters. Transparent payments,<br class="br-desktop"/> comfortable timing and grateful students.<br class="br-desktop"/> Just a click away.
		section.section__why.wrapper-content
			span.title.small-title Features
			h2 Why 
				strong Equalifai?

			ol
				//- each idx in ['01','02','03','04']
				each item in [ { idx: '01', img: '/img/lock.png', alt: 'lock', class: 'lock', label: 'Safe', p: 'Thanks to document verification, transparent payments and honest reviews' }, { idx: '02', img: '/img/tel.png', alt: 'phone', class: 'phone', label: 'At hand', p: 'Always in the app or desktop' }, { idx: '03', img: '/img/earth.png', alt: 'earth', class: 'earth-big', label: 'Easy', p: 'Intuitive platform and easy search' }, { idx: '04', img: '/img/calculatorviolet.png', alt: 'lock', class: 'calculatorviolet', label: 'Free', p: 'After all, education is priceless' } ]
					li.section__why-block
						.section__why-wrapp-img
							.section__why-img-bg
							img(src=item.img, alt=item.alt class=item.class)
						.section__why-content
							span=item.idx
							h4=item.label
							p=item.p
			//- .section__why-block
			//- 	.section__why-content.pd-right
			//- 		span 02
			//- 		h4 At hand
			//- 		p Always in the app or desktop
			//- 	.section__why-wrapp-img.pd-left
			//- 		.section__why-img-bg
			//- 		img(src="/img/tel.png", alt="phone").phone
			//- .section__why-block
			//- 	.section__why-wrapp-img.pd-right
			//- 		.section__why-img-bg
			//- 		img(src="/img/earth.png", alt="lock").earth-big
			//- 	.section__why-content.pd-left
			//- 		span 03
			//- 		h4 Easy
			//- 		p Intuitive platform and easy search
			//- .section__why-block
			//- 	.section__why-content.pd-right
			//- 		span 04
			//- 		h4 Free
			//- 		p After all, education is priceless
			//- 	.section__why-wrapp-img.pd-left
			//- 		.section__why-img-bg
			//- 		img(src="/img/calculatorviolet.png", alt="lock").calculatorviolet
			.section__why-more-details.flex.center
				a(href="#").alert-btn
					span More details
					img.alert-btn__icon(src="/icons/arrow-top-right.svg", alt="arrow")
