---
title: Index.html
---

extends layouts/_layout

block content
  main.works
    h1.works__title How it works?
    .works__block-bg
      section.works__block.wrapper
        .works__block-wrapp-tabs
          .tabs
            span.tab.tab--active for a Student or a Parent
            span.tab for tutors

        each cls in ['active','']
          .tabs__content(class=cls)
            .works__step
              .works__step-wrapp-img
                .works__step-img-bg
                img(src="/img/pen.png" alt="pen").pen
              h4 Step 1
              p Tell us about yourself a little.<br/> And let's see how we can be<br/> useful to you.
            .works__step
              .works__step-wrapp-img
                .works__step-img-bg
                img(src="/img/earth.png" alt="earth").earth
              h4 Step 1
              p Choose your fighter tutor by location,<br/> lesson type, subject, price,<br/> experience, or other features that<br/> matter to you personally.
            .works__step
              .works__step-wrapp-img
                .works__step-img-bg
                img(src="/img/chat.png" alt="chat").chat
              h4 Step 1
              p Message your favorite tutors to<br/> discuss the details.
            .works__step
              .works__step-wrapp-img
                .works__step-img-bg
                img(src="/img/screen-small.png" alt="pen").screen-small
              h4 Step 1
              p Receive invitations and<br/> materials from tutors
            .works__step
              .works__step-wrapp-img
                .works__step-img-bg
                img(src="/img/calendar.png" alt="pen").calendar
              h4 Step 1
              p On the agreed time, click on your<br/> lesson and enjoy you sessions
            .works__step
              .works__step-wrapp-img
                .works__step-img-bg
                img(src="/img/rocket.png" alt="pen").rocket
              h4 Step 1
              p No hassle, no subscription<br/> obligations with an automatic<br/> payment per lesson 👍
