footer.footer.wrapper
  .footer__block
    img.footer__logo(src="/img/white-logo.svg", alt="equalifai")

    ul.footer__address
      li.bold eQualifai Me SRL
      li Bulevardul EROILOR, Nr. 9, Etaj 2,<br/> Cluj-Napoca, Romania

    ul.footer__nav
      li
        a(href="/faq.html").text-uppercase faq
      li
        a(href="#") Useful links
      li
        a(href="#") Cookie statement
      li
        a(href="#") Privacy policy
      li
        a(href="#") Terms & Conditions
    
    .footer__social-media
      h3 Social media
      ul
        li
          a(href="#")
            img(src="/img/facebook.svg", alt="facebook")
        li
          a(href="#")
            img(src="/img/instagram.svg", alt="instagram")
        li
          a(href="#")
            img(src="/img/youtube.svg", alt="youtube")

  .footer__bottom
    .footer__copyright EQUALIFAI, 2022 ©
    .footer__text
      | Developed by 
      a.link(href="#" target="_blank") MDA
      |  x ANTIPROTIV 