//BEGIN header
.wrapper.wrapper--header
  header.header
    a(href='/')
      img.header__logo(src="/img/logo.svg", alt="equalifai")

    nav
      ul.header__menu
        each item in [{ label: 'How it works?', link: '/works.html' }, { label: 'About us', link: '/about.html' }, { label: 'Contacts', link: '/contacts.html' }, { label: 'Blog', link: '/blog.html' }]
          li
            a(href=item.link)
              span=item.label
    
    .flex.header__right-menu
      ul.header__lang
        each lang,i in ['ua', 'ro', 'en']
          li(class=i==0?'active':'')
            a(href="#")=lang
      
      a.btn.btn--dark(href="") Join up!

      <div class="burger-menu">
        <a href="" class="burger-menu_button">
          <span class="burger-menu_lines"></span>
        </a>
      </div>
<nav class="burger-menu_nav">
  <a href="/works.html" class="burger-menu_link">How it works?</a>
  <a href="/about.html" class="burger-menu_link">About us</a>
  <a href="/contacts.html" class="burger-menu_link">Contacts</a>
  <a href="/blog.html" class="burger-menu_link">Blog</a>
</nav>
//END header
