:root {
  --color-base-light: #fff;
  --color-base-semi-light: #F9F9F9;
  --color-base-medium-light: #cecdcd;
  --color-base-medium: #ECECEC;
  --color-base-medium-dark: #cccccc;
  --color-base-semi-dark: #371B48;
  --color-base-dark: #1C1123;

  --color-theme-accent: #DD6951;

  --color-theme-alt: #D9FAF6;

  --color-theme-reserve: #D6D4F4;

  --wrapper-content: 180rem;
}