@font-face {
  font-family: "Arial Narrow";
  src: local("Arial Narrow Regular"), local("Arial Narrow"),
    url("../fonts/Arial Narrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial Narrow";
  src: local("Arial Narrow Bold"), local("Arial Narrow-Bold"),
    url("../fonts/Arial Narrow-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}