html,
body {
  min-height: 100vh;
  color: var(--color-base-semi-dark);
  background-color: var(--color-base-semi-light);
  font-size: calc(100vw / 192);
  /* font-size: 10px; */
  font-family: "Arial Narrow";
}

body {
  text-decoration: none;
  color: var(--color-theme-dark-accent);
  background-color: var(--color-theme-dark-reserve);
}

@media (max-width: 960px) {
  html,
  body {
    font-size: calc(100vw / 76);
  }
}

@media (max-width: 760px) {
  html,
  body {
    font-size: calc(100vw / 36);
  }
}

.wrapper {
  padding: * 6rem;

  @media (max-width: 720px) {
    padding: * 1rem;
  }

  @media (max-width: 960px) {
    padding: * 1rem;
  }
}

.wrapper-content {
  padding: * 34rem;

  @media (max-width: 960px) {
    padding: * 1rem;
  }

  @media (max-width: 720px) {
    padding: * 1rem;
  }
}

.wrapper--header {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

.link {
  color: #d0faf5;

  &:hover {
    color: var(--color-theme-accent);
  }
}

/* Header */

.header {
  z-index: 3;
  width: 100%;
  height: 9rem;
  display: flex;
  padding: 1.5rem;
  margin-top: 2.5rem;
  align-items: center;
  border-radius: 100px;
  justify-content: space-between;
  background-color: var(--color-base-light);
  border: 2px solid var(--color-base-semi-dark);

  /* @media (max-width: 720px) { */
  @media (max-width: 960px) {
    height: 6.5rem;
    padding: 0.5rem;
    margin-top: 2rem;
    z-index: 30;
    position: relative;
  }
}

.header__logo {
  width: 24.3rem;
  height: 3.9rem;
  margin-left: 2rem;

  @media (max-width: 960px) {
    width: 14.4rem;
    height: 2.4rem;
    margin-left: 0.7rem;
  }
}

.header__menu {
  display: flex;
  transition: 0.3s;

  @media (max-width: 960px) {
    display: none;
  }
}

.header__menu li {
  padding-right: 5rem;
}

.header__menu li a {
  position: relative;
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.2;
  color: var(--color-base-semi-dark);

  span {
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    size: 4.8rem;
    border-radius: 50%;
    background-color: var(--color-theme-reserve);
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
    z-index: 0;
  }

  &:hover::before {
    transform: translate(-50%, -50%) scale(1);
  }
}

.header__lang {
  display: flex;
  position: absolute;
  top: 50%;
  left: -1.2rem;
  margin-right: 1.2rem;
  border-radius: 4rem;
  padding: 1.2rem 1.5rem;
  transform: translate(-100%, -50%);

  grid-gap: 1.5rem;
  transition: 0.2s;
  overflow: hidden;

  &:hover {
    background-color: var(--color-theme-reserve);

    li {
      width: 2.8rem;
      text-align: center;
      opacity: 1;
    }
  }

  li {
    width: 0;
    opacity: 0;
    transition: 0.2s;

    &.active {
      opacity: 1;

      a {
        font-weight: 700;
      }
    }
  }

  @media (max-width: 960px) {
    display: none;
  }
}

.header__lang li a {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-base-semi-dark);
}

.header__right-menu {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.btn--dark {
  width: 16rem;
  height: 6rem;
  display: flex;
  align-items: center;
  border-radius: 10rem;
  justify-content: center;
  background: var(--color-base-semi-dark);

  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-base-light);


  @media (max-width: 960px) {
    width: 10rem;
    height: 5.5rem;
    font-size: 1.6rem;
    margin-right: 0.5rem;
  }
}

/* Footer */

.footer {
  height: 28rem;
  background: var(--color-base-dark);

  @media (max-width: 960px) {
    display: flex;
    height: auto;
    flex-direction: column;
  }
}

.footer__logo {
  width: 24.3rem;
  height: 3.9rem;

  @media (max-width: 960px) {
    width: 17rem;
    height: 3rem;
    margin-bottom: 3rem;
  }
}

.footer__block {
  display: flex;
  padding-top: 4.6rem;
  margin-bottom: 6rem;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 960px) {
    flex-direction: column;
    padding-top: 1.5rem;
    margin-bottom: 3.5rem;
  }
}

.footer__social-media {
  margin-right: 12rem;

  @media (max-width: 960px) {
    display: flex;
    width: 100%;
    order: 3;
    margin-bottom: 2.7rem;
  }
}

.footer__social-media h3 {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.4;
  color: var(--color-base-light);

  @media (max-width: 960px) {
    font-size: 2rem;
    margin-right: 2.7rem;
  }
}

.footer__social-media ul {
  display: flex;
  margin-top: 3rem;

  @media (max-width: 960px) {
    margin-top: 0;
  }
}

.footer__social-media ul li {
  width: 3rem;
  height: 3rem;
  display: flex;
  border-radius: 50%;
  margin-right: 1.6rem;
  align-items: center;
  background: #d0faf5;
  justify-content: center;

  @media (max-width: 960px) {
    margin-right: 0.8rem;
  }
}

.footer__nav {
  columns: 2;
  column-gap: 9rem;

  @media (max-width: 960px) {
    order: 4;
    column-gap: 3rem;
  }
}

.footer__nav li {
  margin: 10px 0;

  @media (max-width: 960px) {
    margin: 0;
  }
}

.footer__nav li:first-child {
  margin: 0px 0 10px 0;
}

.footer__nav li:last-child {
  margin: 10px 0 0 0;
}

.footer__nav li:nth-child(4n) {
  margin: 0px 0 10px 0;
}

.footer__social-media ul li a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__social-media ul li a {
  width: 100%;
  height: 100%;
  padding: 0.6rem;
  border-radius: 50%;

  &:hover {
    background-color: var(--color-theme-reserve);
  }
}

.footer__nav li a {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.4;
  color: var(--color-base-semi-light);

  @media (max-width: 960px) {
    font-size: 2rem;
  }
}

.footer__address {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.4;
  color: var(--color-base-semi-light);

  @media (max-width: 960px) {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.footer__copyright {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
  opacity: 0.5;
  color: var(--color-base-semi-light);

  @media (max-width: 960px) {
    padding-top: 1.7rem;
    font-size: 1.8rem;
    padding-bottom: 3rem;
  }
}

.footer__bottom {
  position: relative;

  @media (max-width: 960px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
}

.footer__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
  text-align: center;
  color: #d0faf5;

  @media (max-width: 960px) {
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
  }
}

/* FAQ */

.main-faq__title {
  padding-top: 25rem;
  padding-bottom: 5rem;
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 9rem;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.2rem;
  color: var(--color-base-dark);
}

.main-faq__content {
  display: flex;
  margin-bottom: 14rem;
  flex-direction: column;
}

.main-faq__content ol li {
  margin: 0 0 2rem 0;
}

.main-faq__content ol li:last-child {
  margin: 0 0 0 0;
}

.main-faq__accordion {
  width: 119.4rem;
  border-radius: 4rem;
  box-sizing: border-box;
  background: var(--color-base-semi-light);
  border: 2px solid var(--color-base-dark);
}

.main-faq__accordion-top {
  cursor: pointer;
  height: calc(8rem - 2px);
  width: 100%;
  padding: 0 1rem 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-faq__accordion-top-title {
  display: flex;
}

.main-faq__accordion-top-title span {
  margin-right: 2.5rem;
}

.main-faq__accordion-top p {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1.4;
  letter-spacing: 1px;
  color: var(--color-base-dark);
}

.main-faq__accordion-bottom p {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 1.4;
  letter-spacing: 1px;
  color: var(--color-base-dark);
}

.main-faq__accordion-top span {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 1.4;
  letter-spacing: 1px;
  color: var(--color-base-dark);
}

.main-faq__accordion-btn {
  width: 6rem;
  height: 6rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 10rem;
  justify-content: center;
  background: var(--color-theme-reserve);
  transition: 0.3s;

  .active & {
    transform: rotate(45deg);
  }
}

.main-faq__accordion-btn img {
  width: 14px;
  height: 14px;
}

.main-faq__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-faq__accordion.main-faq__accordion-active {
  height: 100%;
}

.main-faq__accordion.main-faq__accordion-active .main-faq__accordion-bottom {
  opacity: 1;
  pointer-events: all;
}

.main-faq__accordion-bottom {
  display: none;
  padding: 0 15rem 5rem 8rem;
}

/* Title */

.title {
  background: var(--color-base-semi-light);
  border: 2px solid var(--color-base-dark);
  box-sizing: border-box;
  border-radius: 10rem;
  padding: 0 3rem;
  /* max-width: 29rem; */
  /* width: 100%; */
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-base-dark);

  @media (max-width: 720px) {
    font-size: 1.4rem;
    padding: 0 1.5rem;
    height: 5rem;
  }
}

.title.small-title {
  max-width: 15rem;
  margin: 0 auto;

  @media (max-width: 720px) {
    font-size: 1.4rem;
    height: 4.7rem;
    width: 12rem;
  }
}

/* save-ukraine */

.save-ukraine {
  z-index: 1;
  max-width: 20rem;
  width: 100%;
  height: 6rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid var(--color-base-dark);
  box-sizing: border-box;
  border-radius: 10rem;
  color: var(--color-base-dark);

  @media (max-width: 720px) {
    height: 4.6rem;
    font-size: 1.3rem;
    max-width: 16.5rem;
  }
}

.save-ukraine::after {
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background: #c7f5f0;
  height: calc(3rem - 2px);
  border-radius: 10rem 10rem 0 0;

  @media (max-width: 720px) {
    height: calc(2.3rem - 2px);
  }
}

.save-ukraine::before {
  z-index: -1;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  background: #fffcb1;
  height: calc(3rem - 2px);
  border-radius: 0 0 10rem 10rem;

  @media (max-width: 720px) {
    height: calc(2.3rem - 2px);
  }
}

/* About */

.main-about__one,
.main-about__two {
  display: flex;
  padding-top: 11rem;
  padding-bottom: 11rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-theme-alt);

  @media (max-width: 720px) {
    padding-bottom: 8rem;
  }
}

.main-about__two {
  @media (max-width: 720px) {
    padding-top: 0;
    padding-bottom: 4rem !important;
  }
}

.main-about__one {
  padding-top: 22.5rem;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/main-bg.svg");

  & > * {
    min-width: 110rem;
  }

  @media (max-width: 720px) {
    padding-top: 14rem;
  }
}

.main-about__two {
  padding-bottom: 19rem;

  @media (max-width: 720px) {
    padding-bottom: 8rem;
  }
}

.main-about__one h1,
.main-about__two h2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 9rem;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 2px;
  color: var(--color-base-dark);

  @media (max-width: 720px) {
    margin-top: 2.5rem;
    font-size: 5rem;
    margin-bottom: 1.7rem;
  }
}

.main-about__one p,
.main-about__two p {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 1.4;
  text-align: center;
  color: var(--color-base-dark);

  @media (max-width: 720px) {
    font-size: 2.4rem;
  }
}

.main-about__three {
  width: 100%;
  display: flex;
  margin-top: 12rem;
  margin-bottom: 19rem;
  align-items: flex-start;

  /* @media (max-width: 720px) { */
  @media (max-width: 960px) {
    margin-top: 6rem;
    flex-direction: column;
    margin-bottom: 34.4rem;
  }
}

.main-about__three-left {
  padding-left: 25rem;

  /* @media (max-width: 720px) { */
  @media (max-width: 960px) {
    padding-left: 0;
  }
}

.main-about__three-left,
.main-about__three-right {
  width: 50%;

  /* @media (max-width: 720px) { */
  @media (max-width: 960px) {
    width: 100%;
  }
}

.main-about__three-right {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.main-about__three-left h3 {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.1;
  letter-spacing: 2px;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: var(--color-base-dark);

  /* @media (max-width: 720px) { */
  @media (max-width: 960px) {
    font-size: 4rem;
    margin-top: 3rem;
    margin-bottom: 1.1rem;
  }
}

.main-about__three-left p {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 1.4;
  color: var(--color-base-dark);

  /* @media (max-width: 720px) { */
  @media (max-width: 960px) {
    font-size: 2.4rem;
  }
}

.main-about__three-left span {
  font-weight: 700;
}

.main-about__three-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-about__three-bg {
  width: 45rem;
  height: 45rem;
  z-index: -1;
  left: 20%;
  top: 4rem;
  border-radius: 50%;
  position: absolute;
  background: var(--color-theme-reserve);

  /* @media (max-width: 720px) { */
  @media (max-width: 960px) {
    width: 23rem;
    height: 23rem;
    left: 16%;
    top: 2rem;
  }
}

.main-about__three-img img {
  z-index: 1;
  left: 25%;
  top: 0;
  width: 42.1rem;
  height: 53.4rem;
  position: absolute;

  /* @media (max-width: 720px) { */
  @media (max-width: 960px) {
    width: 22.9rem;
    height: 29.1rem;
    left: 16%;
    top: -4px;
  }
}

/* Constats */

.main-contacts__title {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 11rem;
  line-height: 1.1;

  text-align: center;
  letter-spacing: 2px;

  color: var(--color-base-dark);

  padding-bottom: 10rem;

  /* @media (max-width: 720px) { */
  @media (max-width: 960px) {
    font-size: 6rem;
    padding-bottom: 5.5rem;
  }
}

.main-contacts {
  padding-top: 25rem;

  @media (max-width: 960px) {
    padding-top: 14.5rem;
  }
}

.main-contacts__subscribe {
  width: 100%;
  display: flex;
  padding-top: 35rem;
  align-items: center;
  padding-bottom: 12.3rem;
  justify-content: center;

  @media (max-width: 960px) {
    flex-direction: column-reverse;
    padding-bottom: 6.9rem;
    padding-top: 32rem;
  }
}

.main-contacts__subscribe-bg {
  background-color: var(--color-theme-alt);
}

.main-contacts__subscribe-right {
  padding-left: 7.65rem;

  @media (max-width: 960px) {
    padding-left: 0;
  }
}

.main-contacts__subscribe-left {
  padding-right: 7.65rem;

  @media (max-width: 960px) {
    width: 100%;
    padding-right: 0;
  }
}

.main-contacts__subscribe-left h2 {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.1;
  letter-spacing: 2px;
  color: var(--color-base-dark);

  @media (max-width: 960px) {
    font-size: 4rem;
  }
}

.main-contacts__subscribe-left p {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 1.4;
  padding: 2rem 0 5rem 0;
  color: var(--color-base-dark);

  @media (max-width: 960px) {
    font-size: 2.8rem;
    padding: 2rem 0;
  }
}

.main-contacts__subscribe-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media (max-width: 960px) {
    flex-direction: column;
    width: 100%;
  }
}

.main-contacts__subscribe-form input {
  width: 39rem;
  height: 6rem;

  background: var(--color-base-semi-light);
  border: 2px solid var(--color-base-dark);
  box-sizing: border-box;
  border-radius: 3rem;

  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: 1px;
  padding-left: 3rem;
  text-transform: uppercase;
  margin-right: 1rem;

  color: var(--color-base-dark);

  @media (max-width: 960px) {
    height: 5.7rem;
    width: 100%;
    border-radius: 3rem;
    margin-right: 0;
    margin-bottom: 1.1rem;
  }
}

.main-contacts__subscribe-form button {
  width: 16rem;
  height: 6rem;

  border-radius: 10rem;
  background: var(--color-base-semi-dark);

  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;

  text-align: center;
  text-transform: uppercase;

  color: var(--color-base-light);

  @media (max-width: 960px) {
    width: 100%;
  }
}

.main-contacts__subscribe-wrapp-icon {
  position: relative;
  height: 45rem;
  width: 45rem;

  @media (max-width: 960px) {
    width: 24.9rem;
    height: 28.9rem;
  }
}

.main-contacts__subscribe-wrapp-icon img {
  position: absolute;
  left: 5rem;
  top: -11rem;
  width: 43.3rem;
  height: 50.3rem;

  @media (max-width: 960px) {
    width: 24.9rem;
    height: 28.9rem;
    left: 0rem;
    top: -6rem;
  }
}

.main-contacts__subscribe-bg-icon {
  left: 0;
  top: 0;
  width: 45rem;
  height: 45rem;
  position: absolute;
  border-radius: 50%;
  background: var(--color-theme-reserve);

  @media (max-width: 960px) {
    width: 24rem;
    height: 24rem;
    top: 1.4rem;
  }
}

.main-contacts__form-down {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-contacts__form-down {
  display: flex;
  flex-direction: column;
}

.main-contacts__form-top {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 960px) {
    flex-direction: column;
  }
}

.main-contacts__form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-contacts__form form input {
  width: 39rem;
  height: 6rem;

  background: var(--color-base-semi-light);
  border: 2px solid var(--color-base-dark);
  box-sizing: border-box;
  border-radius: 3rem;

  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 3rem;
  color: var(--color-base-dark);
  margin-bottom: 3rem;

  @media (max-width: 960px) {
    width: calc(100% - 3.5rem);
    border-radius: 3rem;
    margin-bottom: 1.1rem;
    padding-left: 2rem;
  }
}

.main-contacts__form-left {
  display: flex;
  flex-direction: column;
  padding-right: 3.25rem;

  @media (max-width: 960px) {
    padding-right: 0;
    width: 100%;
    align-items: center;
  }
}

.main-contacts__form-right {
  display: flex;
  flex-direction: column;
  padding-left: 3.25rem;

  @media (max-width: 960px) {
    padding-left: 0;
    width: 100%;
    align-items: center;
  }
}

.main-contacts__form form textarea {
  width: 84.5rem;
  height: 10rem;

  background: var(--color-base-semi-light);
  border: 2px solid var(--color-base-dark);
  box-sizing: border-box;
  border-radius: 3rem;
  padding: 1.7rem 0 0 3rem;

  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--color-base-dark);

  margin-bottom: 4rem;

  @media (max-width: 960px) {
    width: calc(100% - 3.8rem);
    height: 15rem;
    padding: 1.8rem 0 0 1.7rem;

    margin-bottom: 2.5rem;
  }
}

.main-contacts__form form button {
  width: 16rem;
  height: 6rem;

  border-radius: 10rem;
  background: var(--color-base-semi-dark);

  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;

  color: var(--color-base-light);

  margin: 0 auto;

  @media (max-width: 960px) {
    width: calc(100% - 4rem);
    height: 6rem;
  }
}

.main-contacts__form h2 {
  padding-top: 10rem;
  padding-bottom: 5rem;
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 2px;

  color: var(--color-base-dark);

  @media (max-width: 960px) {
    font-size: 4rem;
    padding-top: 6rem;
    padding-bottom: 2.5rem;
  }
}

.main-contacts__border {
  position: relative;
  width: 149.6rem;

  background: var(--color-base-semi-light);
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10rem;
  padding-bottom: 9rem;
  margin-bottom: -22.15rem;

  @media (max-width: 960px) {
    width: 100%;
    border-radius: 5rem;
    padding-bottom: 3.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.main-contacts__form-title {
  top: -3rem;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);

  @media (max-width: 960px) {
    width: 20rem;
  }
}

/* Blog */

.blog {
  background-position: 80% left;
  background-repeat: no-repeat;
  background-image: url("/img/main-bg.svg");
}

.blog__card {
  width: 73.9rem;
  min-height: 51.7rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  padding: 5rem 4.6rem 3rem 5rem;

  background: var(--color-base-semi-light);
  border: 2px solid var(--color-base-dark);
  box-sizing: border-box;
  border-radius: 4rem;
  margin-bottom: 2rem;

  @media (max-width: 960px) {}

  @media (max-width: 720px) {
    width: 100%;
    min-height: 37.4rem;
    margin-bottom: 1.5rem;
    border-radius: 3rem;
    padding: 2rem 2rem 2rem 2rem;
  }
}

.blog__card:nth-child(odd) {
  margin-right: 2rem;

  @media (max-width: 960px) {
    margin-right: 0;
  }
}

.blog__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 7rem;

  /* @media (max-width: 720px) { */
  @media (max-width: 960px) {
    margin-bottom: 3.4rem;
    align-items: center;
  }
}

.blog__card-content h4 {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 5.4rem;
  line-height: 1.2;
  letter-spacing: 1px;
  color: var(--color-base-dark);

  @media (max-width: 960px) {
    font-size: 3.6rem;
  }
}

.blog__card-content p {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 1.4;
  letter-spacing: 1px;
  color: var(--color-base-dark);
  margin-top: 2rem;

  @media (max-width: 960px) {
    font-size: 2.2rem;
    margin-top: 0rem;
  }
}

.block__card-btn a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block__card-wrapp-img img {
  width: 15px;
  height: 15px;
  object-fit: contain;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.block__card-wrapp-img {
  position: relative;
}

.block__card-btn span {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.4;

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--color-base-dark);
  margin-right: 2rem;

  @media (max-width: 960px) {
    font-size: 1.8rem;
    margin-right: 1rem;
  }
}

.block__card-btn-bg {
  width: 6rem;
  height: 6rem;

  background: var(--color-theme-reserve);
  border-radius: 10rem;

  @media (max-width: 960px) {
    width: 5rem;
    height: 5rem;
  }
}

.blog__title {
  padding-top: 25rem;
  padding-bottom: 7.5rem;

  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 11rem;
  line-height: 1.1;
  letter-spacing: 2px;

  color: var(--color-base-dark);

  padding-left: 13rem;

  @media (max-width: 960px) {
    padding-left: 0;
    text-align: center;
    padding-top: 14.5rem;
    padding-bottom: 2.7rem;
    font-size: 6rem;
  }
}

/* Pagination */

.blog__wrapper-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;

  @media (max-width: 720px) {
    margin-bottom: 5rem;
  }

  ul {
    display: flex;
    align-items: center;
    grid-gap: 1rem;

    span,
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      size: 6rem;
      border-radius: 50%;
      border: 2px solid var(--color-base-dark);
      color: var(--color-base-dark);
      font-size: 1.8rem;

      &.prev,
      &.next {
        background-color: var(--color-base-medium);
        border: none;
        size: calc(6rem + 4px);
      }

      &.prev {
        transform: rotate(180deg);
      }

      &:hover,
      &.current {
        background-color: var(--color-theme-reserve);
      }
    }
  }
}

.pagination {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.pagination__next img,
.pagination__prev img {
  height: 15px;
  width: 15px;
}

.pagination__prev img {
  transform: rotate(180deg);
}

.pagination__prev,
.pagination__next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  background: #ececec;
  border-radius: 10rem;
  cursor: pointer;

  @media (max-width: 720px) {
    width: 5rem;
    height: 5rem;
  }
}

.pagination__count.pagination--active {
  background: var(--color-theme-reserve);
  transition: 0.3s;
}

.pagination__prev.pagination--active,
.pagination__next.pagination--active {
  background: var(--color-theme-reserve);
  transition: 0.3s;
}

.pagination__count {
  width: 6rem;
  height: 6rem;

  margin: 0 0.4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-base-semi-light);
  border: 2px solid var(--color-base-dark);
  box-sizing: border-box;
  border-radius: 10rem;
  transition: 0.3s;

  cursor: pointer;

  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.835px;
  text-transform: uppercase;

  color: var(--color-base-dark);

  @media (max-width: 720px) {
    width: 5rem;
    height: 5rem;
    font-size: 1.8rem;
  }
}

.pagination__prev {
  margin-right: 0.4rem;
}

.pagination__next {
  margin-left: 0.4rem;
}

/* Works */

.works__title {
  padding-top: 25rem;
  padding-bottom: 33rem;
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 11rem;
  line-height: 1.1;

  text-align: center;
  letter-spacing: 2px;

  color: var(--color-base-dark);

  @media (max-width: 720px) {
    font-size: 5rem;
    padding-top: 14.5rem;
    padding-bottom: 30.3rem;
  }
}

.works__block-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-theme-alt);
}

.works__block {
  width: 180rem;

  background: var(--color-base-semi-light);
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10rem;

  margin-bottom: 8rem;
  padding-top: 14.6rem;

  columns: 3;
  column-gap: 10rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin-top: -25rem;
  padding-bottom: 10rem;
  position: relative;

  @media (max-width: 960px) {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  @media (max-width: 720px) {
    padding-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 5rem;
  }
}

.works__step:last-child {
  margin-bottom: 0;
}

.works__step {
  text-align: center;
  margin-bottom: 9rem;

  @media (max-width: 720px) {
    margin-bottom: 2.6rem;
  }
}

.pen {
  width: 10.9rem;
  height: 17.7rem;

  @media (max-width: 720px) {
    width: auto;
    height: 9.4rem;
  }
}

.earth {
  width: 16.1rem;
  height: 15.9rem;

  @media (max-width: 720px) {
    width: auto;
    height: 9.4rem;
  }
}

.chat {
  width: 14.8rem;
  height: 17.4rem;

  @media (max-width: 720px) {
    width: auto;
    height: 9.4rem;
  }
}

.screen-small {
  width: 13.8rem;
  height: 16.5rem;

  @media (max-width: 720px) {
    width: auto;
    height: 9.4rem;
  }
}

.calendar {
  width: 14.4rem;
  height: 14.2rem;

  @media (max-width: 720px) {
    width: auto;
    height: 9.4rem;
  }
}

.rocket {
  width: 11.9rem;
  height: 19.8rem;

  @media (max-width: 720px) {
    width: auto;
    height: 9.4rem;
  }
}

.works__step-wrapp-img {
  position: relative;
  height: 17.4rem;
  width: 17.4rem;
  margin: 0 auto;

  @media (max-width: 720px) {
    width: 9rem;
    height: 9rem;
  }
}

.works__step-wrapp-img img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.works__step-img-bg {
  width: 17.4rem;
  height: 17.4rem;
  border-radius: 50%;
  background: var(--color-theme-reserve);

  @media (max-width: 720px) {
    width: 9rem;
    height: 9rem;
    margin: 0 auto;
  }
}

.works__step h4 {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1.4;
  letter-spacing: 1px;

  padding: 3rem 0 2rem 0;
  color: var(--color-theme-accent);

  @media (max-width: 720px) {
    font-size: 2rem;
    padding: 2.3rem 0 0.6rem;
  }
}

.works__step p {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 1.2;
  letter-spacing: 1px;

  color: var(--color-base-dark);

  @media (max-width: 720px) {
    font-size: 2.2rem;
  }
}

.works__block-wrapp-tabs {
  top: 0;
  left: 50%;
  z-index: 1;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);

  @media (max-width: 720px) {
    width: 100%;
  }
}

/* Tabs */
.tabs {
  display: flex;
  width: 100%;

  @media (max-width: 720px) {
    width: 70%;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 10rem;
    width: 100%;
    opacity: 0;

    &.active {
      opacity: 1;
      position: relative;
    }

    & > * {
      width: calc(33.3333% - 6.8rem);

      @media (max-width: 960px) {
        width: calc(50% - 5rem);
      }

      @media (max-width: 720px) {
        width: 100%;
      }
    }
  }
}

.tab:first-child {
  margin-right: 2rem;

  @media (max-width: 720px) {
    margin-right: 0;
    width: 14rem;
  }
}

.tab:last-child {

  /* @media (max-width: 720px) { */
  @media (max-width: 960px) {
    width: 13rem;
  }
}

.tab {
  display: inline-block;
  padding: 1.8rem 3rem;
  background: var(--color-base-semi-light);
  border: 2px solid var(--color-base-dark);
  box-sizing: border-box;
  border-radius: 10rem;

  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;

  color: var(--color-base-dark);

  /* @media (max-width: 720px) { */
  @media (max-width: 960px) {
    font-size: 1.4rem;
    padding: 0.7rem 0.5rem 1rem;
    height: 6rem;

    display: flex;
    align-items: center;
  }
}

.tab.tab--active {
  background: var(--color-theme-reserve);
}

/* Landing */

.section__one {
  margin-bottom: 22rem;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/main-bg.svg");

  @media (max-width: 720px) {
    margin-bottom: 13.4rem;
  }
}

.section__one h1 {
  padding-top: 29rem;
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 11rem;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 5rem;

  color: var(--color-base-dark);

  @media (max-width: 720px) {
    font-size: 6rem;
    padding-bottom: 1rem;
    padding-top: 14.5rem;
  }
}

.section__one p mark,
.section__one p span {
  color: var(--color-theme-accent);
  font-weight: 700;
  font-size: 3.2rem;

  @media (max-width: 720px) {
    font-size: 2.4rem;
  }
}

.section__one p strong {
  color: var(--color-base-dark);
  font-weight: 700;
  font-size: 3.2rem;

  @media (max-width: 720px) {
    font-size: 2.4rem;
  }
}

.section__one p {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 1.4;
  text-align: center;

  color: var(--color-base-dark);
  padding-bottom: 5rem;

  @media (max-width: 720px) {
    font-size: 2.4rem;
    padding-bottom: 2.7rem;
  }
}

/* Alert btn */

.alert-btn {
  position: relative;
  height: 6rem;
  margin: 0 auto;
  padding: 1.6rem 3rem;

  background: var(--color-theme-accent);
  border-radius: 10rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--color-base-light);
  overflow: hidden;

  &:active {
    background: var(--color-base-semi-dark);
  }

  & > * {
    position: relative;
  }

  &__icon {
    size: 2rem;
    margin-left: 1rem;
  }

  &__bubble {
    position: absolute;
    size: 10rem;
    border-radius: 50%;
    background-color: var(--color-base-semi-dark);
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  @media (max-width: 720px) {
    height: 5.1rem;
    font-size: 1.6rem;
    padding: 1.6rem 2rem;
  }
}

/* --- */

.section__own {
  position: relative;
  width: 180rem;
  padding: 13rem 18rem 12rem 14rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  grid-gap: 3rem;

  background: var(--color-base-semi-light);
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10rem;
  margin-bottom: -13rem;

  @media (max-width: 960px) {
    width: auto;
    align-items: center;
    flex-direction: column;
  }

  @media (max-width: 720px) {
    border-radius: 5rem;
    margin-bottom: -39rem;
    padding: 6rem 2rem 0rem 2rem;
  }
}

.section__own h3 {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 2px;

  color: var(--color-base-dark);

  margin-bottom: 3rem;

  @media (max-width: 720px) {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}

.section__own p {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 1.4;
  text-align: center;

  color: var(--color-base-semi-dark);

  @media (max-width: 720px) {
    font-size: 2rem;
    padding-bottom: 4rem;
  }
}

.section__own-tag {
  position: absolute;
  left: 50%;
  top: -3rem;
  width: 29rem;
  transform: translate(-50%, 0%);

  @media (max-width: 720px) {
    width: 20rem;
  }
}

.section__own-tag .title {
  padding: 0 2.7rem;
}

.section__why {
  padding-top: 26rem;
  background: var(--color-theme-alt);

  @media (max-width: 720px) {
    padding-top: 47.6rem;
  }
}

.section__why h2 {
  padding-top: 6rem;

  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 9rem;
  line-height: 1.1;

  text-align: center;
  letter-spacing: 2px;

  color: var(--color-base-dark);

  margin-bottom: 5rem;

  @media (max-width: 720px) {
    font-size: 5rem;
    padding-top: 4.5rem;
  }
}

.section__why h2 span {
  font-weight: 700;
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 9rem;
  line-height: 1.1;

  text-align: center;
  letter-spacing: 2px;

  color: var(--color-base-dark);
}

.section__why-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 3rem;

  @media (max-width: 960px) {
    flex-direction: column;
  }

  @media (max-width: 720px) {
    padding-bottom: 5rem;
  }

  & > * {
    flex-shrink: 0;
    width: 50%;

    @media (max-width: 960px) {
      width: 100%;
      text-align: center;
    }
  }

  &:nth-child(2n) .section__why-content {
    padding-left: 16rem;

    @media (max-width: 960px) {
      padding-left: 0rem;
    }
  }

  &:nth-child(2n + 1) .section__why-content {
    padding-left: 2rem;

    @media (max-width: 960px) {
      padding-left: 0rem;
    }
  }

  &:nth-child(2n) .section__why-content {
    padding-left: 16rem;

    @media (max-width: 960px) {
      padding-left: 0rem;
    }
  }

  &:nth-child(2n) .section__why-wrapp-img {
    padding-left: 16rem;
    order: 1;

    @media (max-width: 960px) {
      order: unset;
      padding-left: 0rem;
    }
  }
}

.section__why-block:last-child {
  @media (max-width: 960px) {
    padding-bottom: 0rem;
  }
}

.pd-left {
  padding-left: 8rem;
}

.pd-right {
  padding-right: 8rem;
}

.section__why-content {
  display: flex;
  flex-direction: column;

  @media (max-width: 960px) {
    align-items: center;
    padding-top: 2.5rem;
  }
}

.section__why-content span {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-base-semi-light);
  border: 2px solid var(--color-base-dark);
  box-sizing: border-box;
  border-radius: 10rem;
  margin-bottom: 3rem;
  font-size: 1.8rem;

  @media (max-width: 720px) {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 1.8rem;
    margin-bottom: 2.2rem;
  }
}

.section__why-img-bg {
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  position: relative;
  background: var(--color-theme-reserve);

  @media (max-width: 720px) {
    width: 20.5rem;
    height: 20.5rem;
    margin: 0 auto;
  }
}

.section__why-content h4 {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.1;

  letter-spacing: 2px;

  margin-bottom: 3rem;
  color: var(--color-base-dark);

  @media (max-width: 720px) {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}

.section__why-content p {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 1.4;

  color: var(--color-base-dark);

  @media (max-width: 720px) {
    font-size: 2.8rem;
  }
}

.section__why-wrapp-img {
  position: relative;

  @media (max-width: 960px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 720px) {
    display: unset;
    align-items: unset;
    justify-content: unset;
  }

  img {
    width: 60%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

.section__why-wrapp-img .lock {
  left: 37%;
  top: 38%;

  @media (max-width: 960px) {
    top: 40%;
    left: 50%;
  }

  @media (max-width: 720px) {
    top: 43%;
  }
}

.section__why-wrapp-img .phone {
  left: 64%;

  @media (max-width: 720px) {
    top: 47%;
    left: 55%;
  }

  @media (max-width: 960px) {
    left: 50%;
  }
}

.section__why-wrapp-img .calculatorviolet {
  left: 60%;

  @media (max-width: 720px) {
    top: 38%;
    left: 49%;
  }

  @media (max-width: 960px) {
    left: 50%;
  }
}

.section__why-more-details {
  padding-top: 5.3rem;
  padding-bottom: 16rem;

  @media (max-width: 720px) {
    padding-top: 5rem;
    padding-bottom: 6rem;
  }
}

.lock {
  width: auto;
  height: 44.1rem;

  @media (max-width: 720px) {
    width: auto;
    height: 19.7rem;
  }
}

.phone {
  width: auto;
  height: 47rem;

  @media (max-width: 720px) {
    width: auto;
    height: 20.5rem;
  }
}

.earth-big {
  width: auto;
  height: 42.1rem;

  @media (max-width: 720px) {
    width: auto;
    height: 18.4rem;
  }
}

.calculatorviolet {
  width: auto;
  height: 39.7rem;

  @media (max-width: 720px) {
    width: auto;
    height: 17.4rem;
  }
}

/* article */

.article__bg {
  background: var(--color-theme-alt);
  padding-top: 17.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 960px) {
    padding-top: 10rem;
    background: unset;
  }
}

.wysiwyg {
  width: 100%;
  max-width: 149.7rem;
  padding: 8.7rem 22.7rem 11.2rem 22.8rem;

  background: var(--color-base-semi-light);
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 5rem;

  position: relative;

  margin-bottom: -29.4rem;

  @media (max-width: 960px) {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 8.3rem 1.6rem 3rem 1.6rem;
    max-width: unset;
    width: unset;
    margin-bottom: 0;
    border-radius: 3rem;
  }
}

.wysiwyg p {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 1.4;

  letter-spacing: 1px;

  color: var(--color-base-dark);

  padding-bottom: 2.5rem;

  @media (max-width: 960px) {
    font-size: 2.2rem;
    padding-bottom: 0;
    line-height: 1.3;
  }
}

.wysiwyg p:last-child {
  padding-bottom: 0;
  margin-bottom: 1.3rem;
}

.wysiwyg img {
  width: 100%;
  height: auto;
  padding-bottom: 3.6rem;

  @media (max-width: 960px) {
    height: 18rem;
    width: auto;
    padding-bottom: 0;
    margin-bottom: 2.5rem;
  }
}

.article__back img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
}

.article__back {
  position: absolute;
  width: 6rem;
  height: 6rem;
  z-index: 1;
  left: 3rem;
  top: 3rem;
  transform: rotate(-180deg);

  @media (max-width: 960px) {
    width: 4.5rem;
    height: 4.5rem;
    top: 2.1rem;
  }
}

.article__back-bg {
  width: 6rem;
  height: 6rem;
  position: absolute;
  border-radius: 10rem;
  background: var(--color-theme-reserve);

  @media (max-width: 960px) {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.article__recommend {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 5.4rem;
  line-height: 1.2;
  letter-spacing: 1px;

  padding-top: 37.4rem;

  max-width: 149.7rem;
  width: 100%;

  margin: 0 auto;

  padding-bottom: 7rem;

  color: var(--color-base-dark);

  @media (max-width: 960px) {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}

.wrapper-wysiwyg {
  position: relative;
}

.article__recommend h2 {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 5.4rem;
  line-height: 1.2;
  letter-spacing: 1px;

  color: var(--color-base-dark);
  padding-bottom: 4.4rem;

  @media (max-width: 960px) {
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
  }
}

.article__recommend-block {
  display: flex;

  @media (max-width: 960px) {
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.wysiwyg p strong {
  font-weight: 700;
  font-family: "Arial Narrow";
  font-style: normal;
  font-size: 2.8rem;
  line-height: 1.4;

  letter-spacing: 1px;

  color: var(--color-base-dark);

  @media (max-width: 960px) {
    font-size: 2.4rem;
  }
}

.wysiwyg h1 {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.2;
  letter-spacing: 1px;

  color: var(--color-base-dark);

  @media (max-width: 960px) {
    font-size: 3.6rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
  }
}

.wysiwyg time {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 1.4;
  letter-spacing: 1px;

  color: var(--color-base-dark);

  @media (max-width: 960px) {
    display: none;
  }
}

.wysiwyg h2 {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 1.4;
  letter-spacing: 1px;

  padding: 3.6rem 0;

  color: var(--color-base-dark);

  @media (max-width: 720px) {
    font-size: 2.4rem;
    padding: 0;
    margin-bottom: 2rem;
  }
}

.wysiwyg blockquote {
  font-family: "Arial Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.4;
  letter-spacing: 1px;

  color: var(--color-base-dark);

  padding-left: 10rem;

  padding-bottom: 4rem;

  position: relative;

  @media (max-width: 960px) {
    font-size: 2.4rem;
    padding-left: 0rem;
    margin-bottom: 0;
    padding-top: 6rem;
    padding-bottom: 2.3rem;
  }
}

.wysiwyg blockquote::before {
  content: open-quote;
  font-size: 2em;
  top: -10px;
  left: 11px;
  position: absolute;
  color: var(--color-base-dark);
  quotes: "\201C""\201D""\2018""\2019";

  @media (max-width: 960px) {
    content: open-quote;
    font-size: 3em;
    top: -16px;
    left: 17px;
    position: absolute;
    color: var(--color-base-dark);
    quotes: "\201C""\201D""\2018""\2019";
  }

  @media (max-width: 720px) {
    left: 15px;
    top: -13px;
  }
}

.wysiwyg blockquote::after {
  top: -5px;
  left: 0;
  content: "";
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 2px solid var(--color-base-dark);
  position: absolute;

  @media (max-width: 960px) {
    top: -5px;
    left: 0;
    content: "";
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid var(--color-base-dark);
    position: absolute;
  }
}

/* br */

.br-mobile {
  display: none;

  @media (max-width: 720px) {
    display: block;
  }
}

.br-desktop {
  display: block;

  @media (max-width: 720px) {
    display: none;
  }
}

/* 404 page */

.not-found-page {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-theme-accent);
}

.not-found-page svg {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  left: -645rem;
}

.not-found-page img {
  z-index: 2;
  width: 11.5rem;
  height: 7.5rem;
}

.not-found-page h1 {
  font-family: 'Arial Narrow';
  font-weight: 700;
  font-size: 50rem;
  line-height: 1.1;
  z-index: 2;

  text-align: center;
  letter-spacing: 2px;

  color: var(--color-base-semi-dark);

  margin-top: 4rem;
}

.not-found-page p {
  font-family: 'Arial Narrow';
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.4;
  z-index: 2;

  text-align: center;
  letter-spacing: 1px;

  color: var(--color-base-dark);

  margin-bottom: 6rem;
}

.not-found-page a {
  width: 16rem;
  height: 6rem;
  z-index: 2;

  background: var(--color-base-semi-dark);
  border-radius: 10rem;

  font-family: 'Arial Narrow';
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;

  color: var(--color-base-light);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Burger menu */
.burger-menu {
  display: none;

  @media (max-width: 960px) {
    display: block;
  }
}

body.burger-menu_active {
  overflow: hidden;
}

body.burger-menu_active .header {
  background-color: transparent;
}

body.burger-menu_active .burger-menu_button {
  background-color: var(--color-base-semi-dark);
}

.burger-menu {
  display: none;

  @media (max-width:960px) {
    display: inline-block;
  }
}

.burger-menu_button {
  position: relative;
  z-index: 30;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: var(--color-theme-reserve);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}

body.burger-menu_active .burger-menu_lines::before,
body.burger-menu_active .burger-menu_lines::after {
  position: absolute;
  width: 2.4rem;
  height: 3px;
  background-color: var(--color-base-semi-light);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

body.burger-menu_active .burger-menu_lines {
  position: absolute;
  width: 2.4rem;
  height: 3px;
  background-color: transparent;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 2.4rem;
  height: 3px;
  background-color: var(--color-base-semi-dark);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu_lines::before {
  content: "";
  top: -7.5px;
}

.burger-menu_lines::after {
  content: "";
  top: 7px;
}

.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}

.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}

.burger-menu_active .burger-menu_lines::after {
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  padding-top: 17.9rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: var(--color-theme-reserve);
  overflow-y: auto;
  left: -100%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.burger-menu_active.burger-menu_nav {
  left: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_link {
  font-family: "Arial Narrow";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.1;

  letter-spacing: 2px;

  color: var(--color-base-semi-dark);

  padding: 1rem 1rem 2.4rem 1rem;
}

.burger-menu_link:hover {
  filter: brightness(0.9);
}

.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
